body {
  font-family: Montserrat;
}

.gradient {
  background: linear-gradient(
    225deg,
    #c334af 0%,
    #4366c9 25.47%,
    #ef4c5d 74.17%,
    #ffdc55 100%
  );
}

.form__error {
	position: absolute;
	font-size: 12px;
	line-height: 1.35;
	color: red;
	display: none;
}

input:valid:not(:placeholder-shown) {
	border-color: green;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}

input:invalid:not(:placeholder-shown)+.form__error {
	display: block;
}